<div class="container">
  <div class="content">
    <h1>Photography</h1>
    <div class="row">
      <div class="column">
        <%= image_tag "danica.jpeg", style:"width:100%", onclick:"openModal();currentSlide(1)", class:"hover-shadow cursor" %>
        <%= image_tag "jess.jpeg", style:"width:100%", onclick:"openModal();currentSlide(4)", class:"hover-shadow cursor"%>
        <%= image_tag "jimmy.jpeg", style:"width:100%", onclick:"openModal();currentSlide(7)", class:"hover-shadow cursor"%>
        <%= image_tag "julia.jpeg", style:"width:100%", onclick:"openModal();currentSlide(10)", class:"hover-shadow cursor"%>
        <%= image_tag "olivia-festival.jpeg", style:"width:100%", onclick:"openModal();currentSlide(13)", class:"hover-shadow cursor" %>
        <%= image_tag "pete.jpeg", style:"width:100%", onclick:"openModal();currentSlide(16)", class:"hover-shadow cursor" %>
      </div>
      <div class="column">
        <%= image_tag "santacruz3.jpeg", style:"width:100%", onclick:"openModal();currentSlide(2)", class:"hover-shadow cursor"  %>
        <%= image_tag "kelly-wet.jpeg", style:"width:100%", onclick:"openModal();currentSlide(5)", class:"hover-shadow cursor" %>
        <%= image_tag "MorMor.jpeg", style:"width:100%", onclick:"openModal();currentSlide(8)", class:"hover-shadow cursor" %>
        <%= image_tag "MorMor2.jpeg", style:"width:100%", onclick:"openModal();currentSlide(11)", class:"hover-shadow cursor" %>
        <%= image_tag "majid.jpeg", style:"width:100%", onclick:"openModal();currentSlide(14)", class:"hover-shadow cursor" %>
        <%= image_tag "sanfrancisco.jpeg", style:"width:100%", onclick:"openModal();currentSlide(17)", class:"hover-shadow cursor"%>
      </div>
      <div class="column">
        <%= image_tag "wet.jpeg", style:"width:100%", onclick:"openModal();currentSlide(3)", class:"hover-shadow cursor"%>
        <%= image_tag "lisbin.jpeg", style:"width:100%", onclick:"openModal();currentSlide(6)", class:"hover-shadow cursor"%>
        <%= image_tag "santacruz.jpeg", style:"width:100%", onclick:"openModal();currentSlide(9)", class:"hover-shadow cursor"%>
        <%= image_tag "santacruz2.jpeg", style:"width:100%", onclick:"openModal();currentSlide(12)", class:"hover-shadow cursor" %>
        <%= image_tag "ny.jpeg", style:"width:100%", onclick:"openModal();currentSlide(15)", class:"hover-shadow cursor"%>
        <%= image_tag "lipsSF.jpeg", style:"width:100%", onclick:"openModal();currentSlide(18)", class:"hover-shadow cursor" %>
      </div>
    </div>

    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">
        <div class="mySlides">
          <%= image_tag "danica.jpeg", style:"width:100%"%>
        </div>
        <div class="mySlides">
          <%= image_tag "jess.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "jimmy.jpeg", style:"width:100%"%>
        </div>
        <div class="mySlides">
          <%= image_tag "julia.jpeg", style:"width:100%"%>
        </div>
        <div class="mySlides">
          <%= image_tag "olivia-festival.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "pete.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "santacruz3.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "kelly-wet.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "MorMor.jpeg", style:"width:100%"%>
        </div>
        <div class="mySlides">
          <%= image_tag "MorMor2.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "majid.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "sanfrancisco.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "wet.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "lisbin.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "santacruz.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "santacruz2.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "ny.jpeg", style:"width:100%" %>
        </div>
        <div class="mySlides">
          <%= image_tag "lipsSF.jpeg", style:"width:100%" %>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
    </div>

    <div class="Watercolors">
      <h1>Watercolors</h1>
    </div>
    <div class="card-scroller">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    </div>
  </div>
  <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1608138659/up-arrow_ln7ulg.png" onclick="topFunction()" id="myarrow" title="Go to top">
</div>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }

  slides[slideIndex-1].style.display = "block";
  // captionText.innerHTML = dots[slideIndex-1].alt;
}
//Get the button
var myarrow = document.getElementById("myarrow");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    myarrow.style.display = "block";
  } else {
    myarrow.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
