<div class="container">
  <div class="wrapper">
<!--     <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1607783220/IMG_2888_okgdib.jpg" class="contact-img">
 -->    <div class="contact-form">
    <%= form_for @contact do |f| %>
      <% if flash[:error].present? %>
        <p> flash[:error]</p>
      <% end %>
      <h1>contact me</h1>
      <div class="form-name">
        <%= f.label :name %> <br>
        <%= f.text_field :name, required: true %>
      </div>
      <div class="form-email">
        <%= f.label :email %> <br>
        <%= f.text_field :email, required: true %>
      </div>
      <div class="form-text">
        <%= f.label :message %> <br>
        <%= f.text_area :message, as: :text %>
      </div>
      <div class="send-button">
        <%= f.submit 'SEND', class: "send-btn" %>
      </div>
    <% end %>
      <div class="vl">
      </div>
    </div>

    <div class="contact-info">
      <div class="icons">
        <a href="mailto:marieleleu@icloud.com"><i class="fas fa-envelope-square fa-3x"></i></a>
        <a href="tel:+33680848864"><i class="fas fa-phone-square fa-3x"></i></a>
        <a href="https://github.com/marieleleu566"><i class="fab fa-github-square fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/marieleleu/"><i class="fab fa-linkedin fa-3x"></i></a>
      </div>
      <div class="contact-paragraph">
        <p>Don't be shy! Feel free to send me a message if you have any questions, if you want to work together, or simply if you want to say hello and chat.</p>
      </div>
    </div>
  </div>
</div>

